<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<input style="height: 30px" type="text" id="videoIdInput" placeholder="Video ID'ni kiriting">
<button id="loadButton">Videoni yuklash</button>

<video id="myVideo" width="1280" height="720" controls>
    <source id="videoSource" type="video/mp4">
    Your browser does not support the video tag.
</video>

<script>
    $(document).ready(function() {
        $('#loadButton').click(function() {
            var videoId = $('#videoIdInput').val(); // Bu yerda video ID'sini o'zgartiring
            var videoUrl = 'http://localhost:8090/api.multimedia/video/' + videoId /*+ '.mp4'*/;
            $('#videoSource').attr('src', videoUrl);
            $('#myVideo')[0].load();
        });
    });
</script>

</body>
</html>
